body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: rgb(165, 181, 183) !important;
}

main {
	padding: 25px 150px;
	padding-top: 97px;
}

.flex {
	display: flex;
}

.justify-end {
	justify-content: end;
}

.justify-between {
	justify-content: space-between;
}
